body {
    padding: 0px;
    margin: 0px;
}

header {
    position: relative;
    background-size: cover;
	background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

h1 {
    color: #0011ff;
    font-size: 40px;
    text-shadow: 2px 2px #fff;
}

h2 {
    color: #fff;
    font-size: 20px;
    text-shadow: 2px 2px black;
}

h3 {
    color: #ff0000;
    font-size: 40px;
    text-shadow: 2px 2px #fff;
}

header video {
	width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    opacity: 0.5;
    z-index: 1;
}

.btn {
    border-radius: 10px;
}

.win3,
.win3:hover {
    background-color: #006400;
    border: 3px solid white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
}

.win2,
.win2:hover {
    background-color: #FF8C00;
    border: 3px solid white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
}

.win,
.win:hover {
    background-color: #808080;
    border: 3px solid white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
}

.win1,
.win1:hover {
    background-color: #006400;
    border: 3px solid white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
}

/*.footer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
	object-fit: cover;
    z-index: -1;
    opacity: 0.5;
}
*/

.memek {
    margin: 0 4px;
    max-width: 12%;
}

.memek1 {
    margin: 0 4px;
    max-width: 100%;
}